body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 40px;
    border-left: 4px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
    padding-left: 10px;
}
h2{
    font-size: 35px;
}
.focused-sec{
    width: 100%;
display: flex;
}
.fst-sec{
    padding-left: 15px;;
}
.focused-sec img{
    width: 65%;
    padding-left: 65px;
}
.scroll-dwn{
    padding: 5px;
    margin-top: 50px;
}
.Explore-Button{
    text-decoration: none;
    background-color:red;
    padding: 10px;
    border-radius: 5px;
}
.icon-sec{
    
}
